<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<%= display_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', aync: @defer_assets, defer: @defer_assets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', aync: @defer_assets, defer: @defer_assets %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <footer>
  	<%= render 'layouts/footer' %>
  </footer>
</html>
